[attr]lfs -text filter=lfs diff=lfs merge=lfs -text
*.cubemap lfs
*.unitypackage lfs
*[Tt]errain.asset lfs
*[Nn]av[Mm]esh*.asset lfs
*.wav lfs
*.mp3 lfs
*.mp4 lfs
*.blend lfs
*.ogg lfs
*.zip lfs
*.dae lfs
*.unity lfs
*.anim lfs
*.bytes lfs
*[Mm]odel.asset lfs
*[Bb]aked-[Rr]ock*.asset lfs

*.mb lfs
*.MB lfs
*.ma lfs
*.MA lfs
*.mlt lfs
*.MLT lfs
*.obj lfs
*.OBJ lfs
*.fbx lfs
*.FBX lfs
*.ztl lfs
*.ZTL lfs
*.zbr lfs
*.ZBR lfs
*.max lfs
*.MAX lfs
*.stl lfs
*.STL lfs

# images

*.jpg lfs
*.JPG lfs
*.jpeg lfs
*.JPEG lfs
*.png lfs
*.PNG lfs
*.gif lfs
*.GIF lfs
*.tif lfs
*.TIF lfs
*.tiff lfs
*.TIFF lfs
*.bmp lfs
*.BMP lfs
*.exr lfs
*.EXR lfs
*.hdr lfs
*.HDR lfs
*.psd lfs
*.PSD lfs
*.tga lfs
*.TGA lfs
*.pdf lfs
*.PDF lfs
